.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top:50px ;
    left: 80px;
  } 
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 120px;
  }
  
  .baloon {
    width: 290px;
    position: absolute;
    z-index: 3;
    top: 190px;
    left: 415px;
  } 
  .speach {
    width: 275px;
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 225px;
    left: 430px;

  }
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 685px;
    top: 350px;

  }